{% extends 'index.html' %}
{% load static %}

{% block mycss %}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'F-22战斗机_百度百科_files/wiki-lemma-module_2676ad3.css' %}">#}
    <link rel="stylesheet" type="text/css" href="{% static 'F-22战斗机_百度百科_files/wiki_tem_preview.css' %}">
{% endblock %}

{% block content %}
    <a class='btn btn-primary btn-sm my-btn' href="javascript:history.back(-1);"
       style="float: left;margin: 10px;">返回</a>
    <div class="main-box">
        {#    标题、简介加卡片#}
        <div>
            {#            标题#}

            <div><h1 class="wiki-title">{{ name }}</h1></div>

            {#        简介#}
            <div>
                <div class="wiki-intro">{{ name }}歼-20（英文：Chengdu J-20，代号：威龙，北约代号：Fire
                    Fang，译文：火焰獠牙）是中航工业成都飞机工业集团公司研制的一款具备高隐身性、高态势感知、高机动性等能力的隐形第五代制空战斗机，解放军研制的最新一代（欧美旧标准为第四代，新标准以及俄罗斯标准为第五代）双发重型隐形战斗机，用于接替歼10、歼11等第三代空中优势/多用途歼击机的未来重型歼击机型号，该机将担负我军未来对空、对海的主权维护任务。
                </div>


                {#            卡片#}
                <div style="height: 250px;">
                    <div class="basic-info cmn-clearfix">
                        <dl class="basicInfo-block basicInfo-left">
                            {% for foo in card_dict.left %}
                                <dt class="basicInfo-item name">{{ foo.key }}</dt>
                                <dd class="basicInfo-item value">
                                    {{ foo.value }}
                                </dd>
                            {% endfor %}
                        </dl>
                        <dl class="basicInfo-block basicInfo-right">
                            {% for foo in card_dict.right %}
                                <dt class="basicInfo-item name">{{ foo.key }}</dt>
                                <dd class="basicInfo-item value">
                                    {{ foo.value }}
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>


                {#                    <div class="basic-info cmn-clearfix">#}
                {#                        <dl class="basicInfo-block basicInfo-left">#}
                {#                            {% for foo in card_dict.left %}#}
                {#                                <dt class="basicInfo-item name">{{ foo.key }}</dt>#}
                {#                                <dd class="basicInfo-item value">#}
                {#                                    {{ foo.value }}#}
                {#                                </dd>#}
                {#                            {% endfor %}#}
                {#                        </dl>#}
                {#                        <dl class="basicInfo-block basicInfo-right">#}
                {#                            {% for foo in card_dict.right %}#}
                {#                                <dt class="basicInfo-item name">{{ foo.key }}</dt>#}
                {#                                <dd class="basicInfo-item value">#}
                {#                                    {{ foo.value }}#}
                {#                                </dd>#}
                {#                            {% endfor %}#}
                {#                        </dl>#}
                {#                    </div>#}
            </div>
        </div>

        {#    模板内容---标题加内容#}
        {% for single_data in res_data %}
            <div>
                <div><h2 class="context-tite">{{ single_data.key }}</h2></div>
                <div>
                    <div class="context-text">{{ single_data.value }}</div>
                </div>
            </div>
        {% endfor %}
    </div>



    {#        {% for single_data in res_data %}#}
    {#            <div class="layui-card">#}
    {#                <div class="layui-card-header"><h2>{{ single_data.key }}</h2></div>#}
    {#                <div class="layui-card-body">#}
    {#                    <div style="margin:10px;">{{ single_data.value }}</div>#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}

{% endblock %}


{% block myjs %}
    <script>
        document.getElementById("jsxqzsbk").style.display = 'block';
        document.getElementById("xqbk").style.backgroundColor = 'rgba(30,21,21,0.44)';
    </script>
{% endblock %}