{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

{% block title %}
    <span class="navbar-page-title"> JSXQ知识百科 - 百科模板 - 编辑 </span>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="{% url 'add_wikipedia_template' %}" method="post">
                {% csrf_token %}
                <input type="text" name="all_tem" style="display: none;" value="{{ template_content }}">
                <span style="font-weight: bold;">百科模板名称</span>
                <input type="text" name="name" class="form-control" value="{{ Wikipedia_template.name }}">

                <span style="font-weight: bold;">百科模板内容</span>
                <input type="text" name="content" class="form-control" value="{{ Wikipedia_template.content }}">

                <span style="font-weight: bold;">关联知识卡片模板</span>
                <select name='card_template' multiple='multiple' class="form-control">
                    {% for sg_card in all_card_list %}
                        {% if sg_card.id in selected_card_id %}
                            <option value= '{{ sg_card.id }}' selected>{{sg_card.name}}</option>
                        {% else %}
                            <option value= '{{ sg_card.id }}' selected>{{sg_card.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary" style="margin-top: 3px">提交</button>
                <a class='btn btn-primary' href="javascript:history.back(-1);" style="margin-right: 10px;">取消</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block myjs %}
    <script>
        document.getElementById("jsxqzsbk").style.display = 'block';
        document.getElementById("bkmb").style.backgroundColor = 'rgba(30,21,21,0.44)';
    </script>
{% endblock %}