{% extends 'index.html' %}
{% load static %}

{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{% static 'F-22战斗机_百度百科_files/wiki-lemma-module_2676ad3.css' %}">
{% endblock %}

{% block content %}
    <a class='btn btn-primary btn-sm' href="javascript:history.back(-1);" style="float: right;margin: 10px;">返回</a>
    <div style="margin:10px;">
        <div class="layui-card">
            <div class="layui-card-header"><h3>{{ template_name }}</h3></div>

            <div class="layui-card-body">
                <div style="margin:10px;">{{ template_name }}简介内容</div>
                <div style="margin:10px;">{{ template_name }}知识卡片内容</div>
                <div style="margin:10px;">知识卡片示例 ↓</div>
                {% for sg_card in all_card_list %}
                    <div style="height: 250px;">
                        <div class="basic-info cmn-clearfix">
                            <dl class="basicInfo-block basicInfo-left">
                                {% for lsg in sg_card.left %}
                                    <dt class="basicInfo-item name">{{ lsg }}：</dt>
                                    <dd class="basicInfo-item value">
                                        xxxx
                                    </dd>
                                {% endfor %}
                            </dl>
                            <dl class="basicInfo-block basicInfo-right">
                                {% for rsg in sg_card.right %}
                                    <dt class="basicInfo-item name">{{ rsg }}：</dt>
                                    <dd class="basicInfo-item value">
                                        xxxx
                                    </dd>
                                {% endfor %}
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% for single_data in data_list %}
            <div class="layui-card">
                <div class="layui-card-header"><h2>{{ single_data }}</h2></div>
                <div class="layui-card-body">
                    <div style="margin:10px;">{{ single_data }}内容</div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block myjs %}
    <script>
        document.getElementById("jsxqzsbk").style.display = 'block';
        document.getElementById("bkmb").style.backgroundColor = 'rgba(30,21,21,0.44)';
    </script>
{% endblock %}