{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    {#    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">#}

</head>

<body>

{% block title %}
    <span class="navbar-page-title"> JSXQ知识百科 - 百科模板 </span>
{% endblock %}


{% block content %}
    <div class='container-fluid'>
        <!-- 添加记录 -->
        <a class='btn btn-primary  my-btn' href="{% url 'add_wikipedia_template' %}"
           style="float: left;margin-left: 10px;">添加</a>

        {#        <a class='btn btn-primary btn-sm' href="{% url 'add_wikipedia_template' %}" style="height: 38px;text-align: center;line-height: 30px;">添加</a>#}
        <form action="{% url 'search_wikipedia' %}" >
            <button class='btn btn-primary my-btn' type="submit"
                    style="float: right;margin-left: 20px;margin-right: 10px">搜索
            </button>
            <input type="text" name="template_name" id="template_name" class="form-control my-input"
                   placeholder="请输入要搜索的模板名称"
                   style="width:200px;float: right">
        </form>


        <div class="form-group" style="margin: 50px 10px;padding: 10px; background-color: #ffffff">
            <!-- 页面信息展示 -->
            {#            <table class="table table-bordered table-hover table-striped">#}
            <table class="my-table">

                <thead>
                <tr>
                    <th style="width:5%;text-align: center;"></th>
                    <th style="width:5%;text-align: center;">序号</th>
                    <th style="width:20%;text-align: center;">模板名称</th>
                    <th style="width:25%;text-align: center;">模板内容</th>
                    <th style="width:25%;text-align: center;">关联知识卡片</th>
                    <th style="width:20%;text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for single_data in all_data %}
                    <tr style="text-align: center">
                        <td><input type="checkbox" name="checked" value="{{ single_data.id }}"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ single_data.name }}</td>
                        <td>{{ single_data.content }}</td>
                        <td>{{ single_data.mu_card_name }}</td>
                        <td><a href="{% url 'edit_wikipedia_template' single_data.id %}" class="btn my-btn">编辑</a>
                            <a href="{% url 'delete_wikipedia' single_data.id %}" class="btn my-btn">删除</a>
                            <a href="{% url 'preview_wikipedia' single_data.id %}" class="btn my-btn">预览</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        document.getElementById("jsxqzsbk").style.display = 'block';
        document.getElementById("bkmb").style.backgroundColor = 'rgba(30,21,21,0.44)';
    </script>
{% endblock %}

</body>

</html>