{% extends 'index.html' %}
{% load static %}
{% block mycss %}
    <script type="text/javascript" src="{% static 'js/echarts/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts/echarts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/echarts/china.js' %}"></script>
{% endblock %}

{% block title %}
    <span class="navbar-page-title">JSXQ图谱分析 - 地图分析</span>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <input type="text" id="entity" class="form-control" placeholder="请输入事件名称" value="">
                            </div>
                            <div class="col-xs-2">
                                <input type="button" class="btn btn-w-md btn-primary" value="查询" id="noumenon_serach">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        {#        <div class="row">#}
        {#            <div class="col-lg-12">#}
        {#                <div class="card">#}
        {#                    <div class="card-body">#}

        <div id="map_pic" style="width: 100%;height: calc(100vh - 215px)"></div>

        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}

{% block myjs %}
    <script type="text/javascript">
        document.getElementById("jsxqtpfx").style.display = 'block';
        document.getElementById("dtfx").style.backgroundColor = 'rgba(30,21,21,0.44)';

        $('#noumenon_serach').click(function () {

            var entity = $('#entity').val();
            var formdata = new FormData();

            formdata.append("entity", entity);

            $.ajax({
                url: '{% url 'map_analysis' %}',
                type: 'POST',
                async: false,
                data: formdata,
                processData: false, // 使数据不做处理
                contentType: false, // 不要设置Content-Type请求头
                success: function (data) {
                    {#todo 执行函数#}
                    map_ass(data.data.geoCoordMap, data.data.data)
                },
                error: function (response) {
                    console.log(response);
                }
            });
        })
    </script>

    <script type="text/javascript">
        function map_ass(geoCoordMap, data) {


            var myChart = echarts.init(document.getElementById('map_pic'));


            var convertData = function (data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name]; //记录坐标
                    if (geoCoord) {
                        res.push({
                            value: geoCoord,
                            properties: data[i]
                        });
                    }
                }
                //console.log(res);
                return res;
            };
            var colori = 0;
            var colorall = ['#368ec7', '#d48265', '#c72dc7', '#749f83', '#ca8622', '#bda29a',
                '#4c45c3', '#3baa2d', '#c4ccd3', '#c23531', '#2f4554'];

            option = {
                backgroundColor: '#fff',  //背景颜色
                title: {
                    text: '地图展示',
                    left: 'center',
                    textStyle: {
                        color: 'rgb(100,187,241)'
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: function (x) {
                        var htmlStr = '';
                        var k = '';
                        for (k in x.data.properties) {
                            htmlStr += k + ' : ' + x.data.properties[k] + '<br/>';
                        }
                        return htmlStr;
                    }
                },
                legend: {
                    orient: 'vertical',
                    top: 'bottom',
                    left: 'right',
                    data: ['mapshow'],
                    textStyle: {
                        color: '#fff'
                    }
                },
                geo: {
                    map: "china",
                    show: true,
                    roam: false,
                    zoom: 1.2,
                    itemStyle: {
                        normal: {
                            borderWidth: 3,
                            borderColor: "rgb(100,187,241)",
                            shadowColor: "rgb(100,187,241)",
                            shadowBlur: 10
                        }
                    },
                    textStyle: {
                        color: "#fff"
                    }
                },
                {#geo: {#}
                {#    map: 'china',#}
                {#    //center: [104.114129, 37.550339],#}
                {#    //zoom: 5,#}
                {#    roam: true,#}
                {#    label: {#}
                {#        emphasis: {#}
                {#            show: false#}
                {#        }#}
                {#    },#}
                {#    itemStyle: {#}
                {#        normal: {#}
                {#            areaColor: '#323c48',   //地图颜色#}
                {#            borderColor: '#111'  //  区域边线颜色#}
                {#        },#}
                {#        emphasis: {#}
                {#            areaColor: '#2a333d'  //鼠标停留区域颜色#}
                {#        }#}
                {#    }#}
                series: [
                    {
                        type: "map",
                        map: "china",
                        // name: "地图",
                        roam: false,
                        zoom: 1.2,
                        aspectScale: 0.75, //长宽比
                        label: {
                            normal: {
                                show: true,
                                fontSize: this.mapFontSize,
                                color: "rgba(74,178,254,0.8)"
                            },
                            emphasis: {
                                show: false,
                                textStyle: {
                                    color: "rgba(74,178,254,0.8)"
                                }
                            }
                        },
                        itemStyle: {
                            normal: {
                                areaColor: "#002292",
                                borderColor: "#0036ba",
                                borderWidth: 1
                            },
                            emphasis: {
                                show: false,
                                areaColor: "#002292"
                            }
                        },
                        data: data
                    },
                    {
                        name: 'ampshow',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        data: convertData(data),
                        symbolSize: 12,
                        label: {
                            normal: {
                                //show: true,
                                position: 'right',
                                color: '#ffffff',
                                formatter: function (x) {
                                    //return  x.data.properties.name;
                                },
                                textStyle: {
                                    fontSize: 12
                                }
                            },
                            emphasis: {
                                show: false
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: function (x) {
                                    var j = colori % 11;
                                    colori++;
                                    return colorall[j];
                                }
                            },
                            emphasis: {
                                borderColor: '#ff2e1d',
                                borderWidth: 0
                            }
                        }
                    }
                ]
            }
            ;
            //console.log("dasd",option.series[1].data);
            myChart.setOption(option);
        }

    </script>
{% endblock %}



