<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="" method="post">
                {% csrf_token %}
                {% for material in general_obj %}
                    <label for="{{ material.id_for_label }}">{{ material.label }}</label>
                    {{ material }}
                    <span class="text-danger">{{ material.errors.0 }}</span>
                {% endfor %}
                <span style="font-weight: bold;color: red;">注意：{{ remark }}内容用中文逗号分隔</span>
                <br>
                <br>
                <br>
                <button type="submit" class="btn btn-primary" style="margin-top: 3px">提交</button>
                <a class='btn btn-primary' href="javascript:history.back(-1);" style="margin-right: 10px;">取消</a>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
</script>
</body>
</html>