{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

{% block title %}
    <span class="navbar-page-title"> JSXQ知识百科 - 需求百科 </span>
{% endblock %}


{% block content %}
    <div class='container-fluid'>
        <!-- 添加记录 -->
        <form action="{% url 'search_require_wikipedia' %}" style="display: inline;">
            <button class='btn btn-primary btn-sm' type="submit" style="float: right;height: 37px;text-align: center;line-height: 30px;">搜索</button>
            <input type="text" name="search_name" id="search_name" class="form-control" placeholder="请输入要搜索的需求百科名称" style="width:auto;float: right;">
        </form>

        <!-- 模板选择框 -->
        <form action="" method="post">
            <span >模板选择</span>
            <select id="template_choiced" class="form-control" style="display: inline;width: auto;" name="template_choiced">
                {% for sg_tem in template_name_list %}
                    <option value="{{ sg_tem.id }}">{{ sg_tem.name }}</option>
                {% endfor %}
            </select>
            <button class='btn btn-primary btn-sm' type="submit" style="height: 37px;text-align: center;line-height: 30px;">添加</button>
        </form>

        <p></p>

        <div class="form-group">
            <!-- 页面信息展示 -->
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th style="width:5%;text-align: center;"></th>
                    <th style="width:5%;text-align: center;">序号</th>
                    <th style="width:20%;text-align: center;">百科名称</th>
                    <th style="width:50%;text-align: center;">创建时间</th>
                    <th style="width:20%;text-align: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for single_data in res_data %}
                    <tr style="text-align: center">
                        <td><input type="checkbox" name="checked" value="{{ single_data.id }}"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ single_data.name }}</td>
                        <td>{{ single_data.create_time|date:"Y-m-d H:i:s" }}</td>
                        <td>
                            <a href="{% url 'edit_require_wikipedia' single_data.id %}" class="btn">编辑</a>
                            <a href="{% url 'delete_require_wikipedia' single_data.id %}" class="btn">删除</a>
                            <a href="{% url 'preview_require_wikipedia' single_data.id %}" class="btn">预览</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


</body>

</html>